/*///////////////////////////////////////*/
/*CSS reset*/
{
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}


/*
*
* ==========================================
* LOGIN PAGE / REGISTER PAGE
* ==========================================
*
*/
.loginpage{
  background-color: #909E84;
}

.registerpage{
  background-color: #909E84;
}

.login,
.image {
  min-height: 100vh;

}
/*
.bg-image {
  background-image: url('catalog2.jpg');
  background-size: cover;
  background-position: center center;
  background-color: #909E84 !important;

}*/



/* ==========================================
    FOOTER
  ========================================== */
/*body {
  background: #fff8e7;
}*/

.text-small {
  font-size: 0.9rem;
}

a {
  color: inherit;
  text-decoration: none;
  transition: all 0.3s;
}

a:hover, a:focus {
  text-decoration: none;
}

.form-control {
  background: #212529;
  border-color: #545454;
}

.form-control:focus {
  background: #212529;
}

footer {
  background: #75654C !important;
}


/*
*
* ==========================================
* NAVBAR
* ==========================================
*
*/
.navbar {
    transition: all 0.4s;
}

@media (max-width: 991.98px) {
    .navbar {
        background:#75654C ;

    }

    .navbar .navbar-brand, .navbar .nav-link {
        color: #555;
    }
}


/*
*
* ==========================================
* CATALOG
* ==========================================
*
*/
.catalog{
  background-color: #909E84
}



/*
*
* ==========================================
* PRODUCT CARD
* ==========================================
*
*/
.productcard{
  max-height: 700px;
  min-height: 600px;
}


/*
*
* ==========================================
* SINGLE PRODUCT
* ==========================================
*
*/
.singleproduct{
  background-color: #909E84
}


.adminhome{
  background-color: #909E84
}



.hover {
  overflow: hidden;
  position: relative;
  padding-bottom: 60%;
}

.hover-overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 90;
  transition: all 0.4s;
}

.hover img {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  transition: all 0.3s;
}

.hover-content {
  position: relative;
  z-index: 99;
}


/* DEMO 1 ============================== */
.hover-1 img {
  width: 105%;
  position: absolute;
  top: 0;
  left: -5%;
  transition: all 0.3s;
}

.hover-1-content {
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 99;
  transition: all 0.4s;
}

.hover-1 .hover-overlay {
  background: rgba(0, 0, 0, 0.5);
}

.hover-1-description {
  transform: translateY(0.5rem);
  transition: all 0.4s;
  opacity: 0;
}

.hover-1:hover .hover-1-content {
  bottom: 2rem;
}

.hover-1:hover .hover-1-description {
  opacity: 1;
  transform: none;
}

.hover-1:hover img {
  left: 0;
}

.hover-1:hover .hover-overlay {
  opacity: 0;
}
